@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.section {
  @apply py-12 sm:py-16;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}
